*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

html, body{
	min-height: 100%;
}

body{
	background:radial-gradient(rgb(255,255,255),rgb(61,79,93));
}

.loader{
	position:fixed;
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
	margin:auto;
	width: 180px;
	height: 100px;
}

span{
	display: block;
	background: rgb(63,81,99);
	width: 7px;
	height: 10%;
	border-radius: 13px;
	margin-right: 5px;
	float: left;
	margin-top: 25%;
	
}
span:last-child{
	margin-right: 0px;
}
span:nth-child(1){
	animation: load 1.3s linear 1.2s infinite alternate;
}
span:nth-child(2){
	animation: load 1.3s linear 1.0s infinite alternate;
}
span:nth-child(3){
	animation: load 1.3s linear 0.8s infinite alternate;
}
span:nth-child(4){
	animation: load 1.3s linear 0.6s infinite alternate;
}
span:nth-child(5){
	animation: load 1.3s linear 0.4s infinite alternate;
}
span:nth-child(6){
	animation: load 1.3s linear 0.2s infinite alternate;
}
span:nth-child(7){
	animation: load 1.3s linear 0.0s infinite alternate;
}
span:nth-child(8){
	animation: load 1.3s linear 0.2s infinite alternate;
}
span:nth-child(9){
	animation: load 1.3s linear 0.4s infinite alternate;
}
span:nth-child(10){
	animation: load 1.3s linear 0.6s infinite alternate;
}
span:nth-child(11){
	animation: load 1.3s linear 0.8s infinite alternate;
}
span:nth-child(12){
	animation: load 1.3s linear 1.0s infinite alternate;
}
span:nth-child(13){
	animation: load 1.3s linear 1.2s infinite alternate;
}

@keyframes load {
	0%{
		background: rgb(61,79,93);
		margin-top: 25%;
		height: 10%;
		opacity: 0.2;
	}
	50%{
		background: rgb(61,79,93);
		margin-top: 0%;
		height: 100%;
		opacity: 0.8;
	}
	100%{
		background: rgb(61,79,93);
		margin-top: 25%;
		height: 10%;
		opacity: 0.2;
	}
}